.cardLogin {
  margin-top: 20vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 50%;
  width: 25vw;
}

.inputs {
  margin: 3%;
}

.inputsLabel {
  margin-top: 15px;
}

.buttons {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  height: 30%;
  align-items: center;
  padding: 10px;
}

.sendButton {
  background-color: #282c34;
  height: 50%;
  width: 60%;
}

.forgotPass {
  color: #282c34;
  display: block;
}
